.gradle/*
local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
ITecher/.idea/libraries/animated_vector_drawable_25_0_0.xml
ITecher/.idea/libraries/appcompat_v7_25_0_0.xml
ITecher/.idea/libraries/espresso_core_2_2_2.xml
ITecher/.idea/libraries/espresso_idling_resource_2_2_2.xml
ITecher/.idea/libraries/hamcrest_core_1_3.xml
ITecher/.idea/libraries/exposed_instrumentation_api_publish_0_5.xml
ITecher/.idea/libraries/hamcrest_integration_1_3.xml
ITecher/.idea/libraries/javawriter_2_1_1.xml
ITecher/.idea/libraries/hamcrest_library_1_3.xml
ITecher/.idea/gradle.xml
ITecher/.gradle/2.14.1/taskArtifacts/cache.properties
ITecher/.gradle/2.14.1/taskArtifacts/cache.properties.lock
ITecher/.gradle/2.14.1/taskArtifacts/fileHashes.bin
ITecher/.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
ITecher/.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
ITecher/.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
ITecher/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
ITecher/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
ITecher/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
ITecher/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
ITecher/.idea/compiler.xml
ITecher/.idea/copyright/profiles_settings.xml
ITecher/.idea/encodings.xml
ITecher/.idea/libraries/javax_annotation_api_1_2.xml
ITecher/.idea/libraries/javax_inject_1.xml
ITecher/.idea/libraries/jsr305_2_0_1.xml
ITecher/.idea/libraries/junit_4_12.xml
ITecher/.idea/libraries/rules_0_5.xml
ITecher/.idea/libraries/runner_0_5.xml
ITecher/.idea/libraries/support_annotations_25_0_0.xml
ITecher/.idea/libraries/support_compat_25_0_0.xml
ITecher/.idea/libraries/support_core_ui_25_0_0.xml
ITecher/.idea/libraries/support_core_utils_25_0_0.xml
ITecher/.idea/libraries/support_fragment_25_0_0.xml
ITecher/.idea/libraries/support_media_compat_25_0_0.xml
ITecher/.idea/libraries/support_v4_25_0_0.xml
ITecher/.idea/runConfigurations.xml
ITecher/.idea/vcs.xml
ITecher/.idea/workspace.xml
ITecher/app/app.iml
ITecher/build.gradle
ITecher/gradle.properties
ITecher/build/generated/mockable-android-25.jar
ITecher/gradle/wrapper/gradle-wrapper.jar
ITecher/gradlew
ITecher/gradle/wrapper/gradle-wrapper.properties
ITecher/.idea/libraries/support_vector_drawable_25_0_0.xml
ITecher/.idea/misc.xml
ITecher/.idea/modules.xml
ITecher/app/proguard-rules.pro
ITecher/settings.gradle
ITecher/gradlew.bat
ITecher/ITecher.iml
ITecher/build/intermediates/dex-cache/cache.xml
