ITeacher/build/*
ITeacher/com_crashlytics_export_strings.xml
ITeacher/local.properties
ITeacher/.gradle/*
ITeacher/.signing/*
ITeacher/.idea/libraries/*
ITeacher/.idea/workspace.xml
ITeacher/.idea/tasks.xml
ITeacher/.idea/.name
ITeacher/.idea/compiler.xml
ITeacher/.idea/copyright/profiles_settings.xml
ITeacher/.idea/encodings.xml
ITeacher/.idea/misc.xml
ITeacher/.idea/modules.xml
ITeacher/.idea/scopes/scope_settings.xml
ITeacher/.idea/vcs.xml

ITecher/build/*
ITecher/com_crashlytics_export_strings.xml
ITecher/local.properties
ITecher/.gradle/*
ITecher/.signing/*
ITecher/.idea/libraries/*
ITecher/.idea/workspace.xml
ITecher/.idea/tasks.xml
ITecher/.idea/.name
ITecher/.idea/compiler.xml
ITecher/.idea/copyright/profiles_settings.xml
ITecher/.idea/encodings.xml
ITecher/.idea/misc.xml
ITecher/.idea/modules.xml
ITecher/.idea/scopes/scope_settings.xml
ITecher/.idea/vcs.xml

*.iml